<a href="https://colab.research.google.com/github/Uh-hub/avocado/blob/circleci-project-setup/data_science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import re
my_regex = re.compile("[0-9]+", re.I)

In [ ]:
print(my_regex)

re.compile('[0-9]+', re.IGNORECASE)

In [ ]:
import re as regex
my_regex = regex.compile("[0-9]+", regex.I)

In [ ]:
print(my_regex)

re.compile('[0-9]+', re.IGNORECASE)

In [ ]:
#별칭
import matplotlib.pyplot as plt

#전체 모듈이 아닌 모듈 내의 특정 몇몇 기능만 필요한 경우
from collections import defaultdict, Counter
lookup = defaultdict(int)
my_counter = Counter()

In [ ]:
#함수의 인자에는 아래와 같이 message = ... 로 기본값 할당이 가능하다
def my_print(message = "my default message"):
  print(message)

my_print("hello")
my_print()

hello
my default message

In [ ]:
def full_name(first = "What's-his-name", last = "Something"):
  return first + " " + last

full_name("Joel", "Grus")
full_name()

"What's-his-name Something"

In [ ]:
single_quoted_string = 'data science'
double_quoted_string = "data science"

#\t는 tab로, tab_string의 길이를 출력할 때 1로 출력됨
tab_string = "\t"
print("tab 길이:",len(tab_string))
print("실질적인 출력:",1,tab_string, 1)

tab 길이: 1
tab 출력 확인: 1 	 1

In [ ]:
#\t를 문자 그대로 출력
not_tab_string = r"\t"
print("not_tab_string 길이:", len(not_tab_string))
print("실질적인 출력:", not_tab_string)

not_tab_string 길이: 2
실질적인 출력: \t

In [ ]:
#따옴표 3개하면 하나의 문자열을 여러 줄로 나눌 수 있음
multi_line_string = """This is the first line.
and this is the second line.
and this is the third line"""
print(multi_line_string)

This is the first line.
and this is the second line.
and this is the third line

In [ ]:
first_name = "Joel"
last_name = "Grus"

#full name으로 표시하는 다양한 방법
full_name1 = first_name + " " + last_name
full_name2 = "{0} {1}".format(first_name, last_name)

print(full_name1)
print(full_name2)

Joel Grus
Joel Grus

In [ ]:
#가장 간편한 방법
full_name3 = f"{first_name} {last_name}"
full_name3

'Joel Grus'

In [ ]:
#예외 처리

try:
  print(0 / 0)
except:
  print("cannot divide by zero")

cannot divide by zero

In [ ]:
integer_list = [1,2,3]
heterogenerous_list = ["string", 0.1, True]
list_of_lists = [integer_list, heterogenerous_list, []]

list_length = len(integer_list)
list_sum = sum(integer_list)

print("list_length:", list_length)
print("list_sum:", list_sum)

list_length: 3
list_sum: 6

In [ ]:
x = [0,1,2,3,4,5,6,7,8,9]

zero = x[0]

In [ ]:
first_three = x[:3]
three_to_end = x[3:]
last_three = x[-3:]
last_three

[7, 8, 9]

In [ ]:
every_third = x[::3]
five_to_three = x[5:2:-1]
print("every_third:", every_third)
print("five_to_three:", five_to_three)

every_third: [0, 3, 6, 9]
five_to_three: [5, 4, 3]

In [ ]:
1 in [1,2,3]

True

In [ ]:
0 in [1,2,3]

False

In [ ]:
#리스트를 연결하는 방법
x = [1,2,3]
x.extend([4,5,6])

In [ ]:
x

[1, 2, 3, 4, 5, 6]

In [ ]:
#x를 변화시키지 않고 새로운 변수에 값을 추가하여 새로운 리스트로 저장
x = [1,2,3]
y = x + [4,5,6]
y

[1, 2, 3, 4, 5, 6]

In [ ]:
x = [1,2,3]
x.append(0)
y = x[-1]
z = len(x)
print("y:",y)
print("z:",z)

y: 0
z: 4

In [ ]:
x, y = [1,2]
print("x:", x)
print("y:", y)

x: 1
y: 2

In [ ]:
_,y = [1,2]
_ #변수를 위와 같은 방식으로 리스트를 이용해서 한꺼번에 저장할 때 개수가 맞지 않다면 에러가 뜨는데 그걸 방지하기 위해 주로 버리는 값은 _를 쓴다. 
  #근데 _에 값이 저장되기는 한다

1

In [ ]:
my_list = [1,2]
my_tuple = (1,2)
other_tuple = 3, 4 #이렇게 아무것도 없이 가능
my_list[1] = 3 #my_list의 2번째 값을 2에서 3으로 변경

In [ ]:
try: #튜플은 값을 추가하거나 변경할 수 없다
  my_tuple[1] = 3
except TypeError:
  print("cannot modify a tuple")

cannot modify a tuple

In [ ]:
def sum_and_product(x,y):
  return (x+y), (x*y)

sp = sum_and_product(2,3)
s, p = sum_and_product(5, 10)

In [ ]:
#튜플 다중 할당 가능
x,y = 1,2
print("x:", x)
print("y:", y)
x,y = y, x
print("x:", x)
print("y:", y)

x: 1
y: 2
x: 2
y: 1

In [6]:
#딕셔너리
empty_dict = {}
empty_dict2 = dict() #이건 가능하다 정도
grades = {"joel" : 80, "Tim" : 95}

joels_grade = grades["joel"]
joels_grade

80

In [ ]:
try:
  kates_grade = grades["kate"]
except KeyError:
  print("no grade for Kate!")

no grade for Kate!

In [ ]:
joel_has_grade = "joel" in grades
joel_has_grade

True

In [ ]:
kate_has_grade = "Kate" in grades
kate_has_grade

False

In [7]:
joels_grade = grades.get("joels", 0)
kates_grade = grades.get("Kate", 0)
no_ones_grade = grades.get("No one")
print(joels_grade)
print(kates_grade)
print(no_ones_grade)

0
0
None

In [8]:
grades["Tim"] = 99
grades["Kate"] = 100
num_students = len(grades)

In [9]:
print(grades)
print(num_students)

{'joel': 80, 'Tim': 99, 'Kate': 100}
3